<h1>GPU: <%= @gpu.id %></h1>
<h2>Brand: <%= @gpu.cbrand %></h2>
<h2>Gen: <%= @gpu.cgen %></h2>
<p>Ram: <%= @gpu.cram %></p>
<hr>
<%= link_to "Edit", edit_gpu_path(@gpu), :class => 'btn btn-default' %>
